.env
.env.*
*.env
!.env.example

.git
.gitignore
.github

node_modules
dist

config
bin
sip_proxy
Dockerfile
.dockerignore

*.md
docs

src/**/*.test.ts
src/test-setup.ts

*.sqlite
*.sqlite-*
*.cookies
test-*.csv

.DS_Store
.idea
